# Vaultwarden environment variables
ADMIN_TOKEN=changeme-supersecure
SIGNUPS_ALLOWED=false
SMTP_HOST=smtp.example.com
SMTP_FROM=noreply@example.com
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_USERNAME=you@example.com
SMTP_PASSWORD=yourpassword
DOMAIN=https://vaultwarden.yourdomain.com
